# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [5]:
import pandas as pd
import numpy as np

pd.DataFrame({'dados': [1900, 1920, 1940, 1960, 1980, 2000, 2020],
              'anomalia termica': [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]})
#

   dados  anomalia termica
0   1900             -0.08
1   1920             -0.27
2   1940              0.12
3   1960             -0.03
4   1980              0.26
5   2000              0.40
6   2020              1.02

#### 2) Coloque os anos nos índices conforme a tabela.

In [8]:
pd.DataFrame({'dados': [1900, 1920, 1940, 1960, 1980, 2000, 2020],
              'anomalia termica': [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]})

   dados  anomalia termica
0   1900             -0.08
1   1920             -0.27
2   1940              0.12
3   1960             -0.03
4   1980              0.26
5   2000              0.40
6   2020              1.02

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [10]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

relatorio_temperaturas = pd.Series(dic_temperaturas)
relatorio_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [41]:
arr = np.random.normal(100, 10, (10,3))
pd.DataFrame(arr)

            0           1           2
0   89.514470   85.799821   82.937298
1  119.507754   94.903478   95.619257
2   87.472046  107.774904   83.861022
3   97.872597   91.045334  103.869025
4   94.891949   88.193678   99.718178
5  104.283319  100.665172  103.024719
6   93.656779   96.372588   93.275396
7   96.404468   91.868537   82.737174
8  101.774261   95.982191   83.698017
9  104.627823   90.927016  100.519454

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [44]:
# Criando o DataFrame com valores aleatórios
np.random.seed(0)
df = pd.DataFrame(np.random.randint(1, 20, size=(20, 3)), columns=["x1", "x2", "x3"])

print(df)

    x1  x2  x3
0   13  16   1
1    4   4   8
2   10  19   5
3    7  13   2
4    7   8  15
5   18   6  14
6    9  10  17
7    6  16  16
8    1  19   4
9   18  15   8
10   1   2  10
11   1  11   4
12  12  19   3
13   1   1   5
14   6   7   9
15  18  16   5
16  10  11   2
17   2   8  10
18   4   7  12
19  15  19   1

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [45]:
# Nomeando os índices das linhas de 1 a 20
df.index = range(1, 21)

# Calculando a média das colunas e criando a nova coluna "media"
df["media"] = df.mean(axis=1)

print(df)

    x1  x2  x3      media
1   13  16   1  10.000000
2    4   4   8   5.333333
3   10  19   5  11.333333
4    7  13   2   7.333333
5    7   8  15  10.000000
6   18   6  14  12.666667
7    9  10  17  12.000000
8    6  16  16  12.666667
9    1  19   4   8.000000
10  18  15   8  13.666667
11   1   2  10   4.333333
12   1  11   4   5.333333
13  12  19   3  11.333333
14   1   1   5   2.333333
15   6   7   9   7.333333
16  18  16   5  13.000000
17  10  11   2   7.666667
18   2   8  10   6.666667
19   4   7  12   7.666667
20  15  19   1  11.666667

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [47]:
df["log_med"] = np.log(df["media"])

#print("\nDataFrame com as colunas 'media' e 'log_med':")
print(df)

    x1  x2  x3      media   log_med
1   13  16   1  10.000000  2.302585
2    4   4   8   5.333333  1.673976
3   10  19   5  11.333333  2.427748
4    7  13   2   7.333333  1.992430
5    7   8  15  10.000000  2.302585
6   18   6  14  12.666667  2.538974
7    9  10  17  12.000000  2.484907
8    6  16  16  12.666667  2.538974
9    1  19   4   8.000000  2.079442
10  18  15   8  13.666667  2.614960
11   1   2  10   4.333333  1.466337
12   1  11   4   5.333333  1.673976
13  12  19   3  11.333333  2.427748
14   1   1   5   2.333333  0.847298
15   6   7   9   7.333333  1.992430
16  18  16   5  13.000000  2.564949
17  10  11   2   7.666667  2.036882
18   2   8  10   6.666667  1.897120
19   4   7  12   7.666667  2.036882
20  15  19   1  11.666667  2.456736